/* Header.css */
.header-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }
  
  .curtain {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #333;
    transition: transform 2s ease;
  }
  
  .curtain-left {
    left: 0;
    transform: translateX(0);
  }
  
  .curtain-right {
    right: 0;
    transform: translateX(0);
  }
  
  .curtain.open.curtain-left {
    transform: translateX(-100%);
  }
  
  .curtain.open.curtain-right {
    transform: translateX(100%);
  }
  
  .header-main {
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  
  .header-content {
    padding: 20px;
    max-width: 800px;
  }
  
  .header-top .top-title p {
    font-size: 3em;
    font-weight: bold;
    color: #acdb86;
  }
  
  .header-top .top-title p span {
    color: #15ff00;
  }
  
  .header-top .top-tagline p {
    font-size: 1.5em;
    color: #f0f0f0;
  }
  