.Navbar{
    margin: 10px 70px 0px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position:static;
}
.Navbar-left{
    display: flex;
    justify-content: center;
    text-align: center;list-style-type: none;
    align-items: center;
    gap: 25px;
    position: relative;
}
.Navbar-right{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.Navbar-left input{
    height: 35px;
    width: 500px;
    border-radius: 5px;
    min-width: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    border: 1px solid black;
}
.Navbar-right button{
    height: 38px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(to right,rgb(4, 218, 4),rgba(0, 0, 0, 0.76));
    color: white;
    text-shadow: 0 0 60px rgba(0, 128, 0, 0.192);
    animation: anime 1s infinite alternate;
    margin: 0 0px 0px 30px;
}
@keyframes anime{
    100%{
        text-shadow: 0 0 60px rgba(0, 0, 0, 0.418)
    }
}
.Navbar-right button:hover{
    transform: scale(1.05);
}
.Navbar-menu:hover{
    transform: scale(1.1);
}